
.wrapper {
    width:96%;
    display:flex;
    margin:20px auto;
    justify-content: center;
}
.main .side{
    padding:20px;
}
.main {
    background: aliceblue;
    width:76%;
    margin-left: 20px;
    /* height:100vh; */
    border: 3px solid midnightblue;    
    padding-bottom: 20px;
}
.side {
    background-color: #5588ff;
    width:20%;
}
.side p,ul {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}
.sidetabs {
display: block;
width: 100%;
height: 50px;
line-height: 50px;
margin-top: 10px;
text-align: center;
background-color: midnightblue;
color: white;
font-size: 16px;
font-weight: bold;
}

/* .sidetabs2 {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    background-color: midnightblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    } */
    
div.sidetab {
overflow: auto;
clear: none;
color: white;
font-size: 14px;
background-color: #566ffefe;
}


/*  Main Part  */

#outer {
    margin-left: 20px;
    margin: 0px auto 0px auto;
    width: 90%;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    /* color: white; */
}


#header {
    color: midnightblue;
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    font-family: 'Times New Roman'
}
/* ▼(B)タブ部分 */

.tabs {
    display: block;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    /* 角を丸くする */
    background-color: midnightblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
/* ▼(C)タブ中身のボックス */

div.tab {
    overflow: auto;
    clear: none;
    color: white;
    font-size: 14px;
    background-color: midnightblue;
    border-radius: 0 8px 8px 8px;
    padding: 6px;
}

div.tabf {
    /* overflow: auto; */
    clear: none;
    color: whitesmoke;
    font-size: 14px;
    background-color:midnightblue;
    border-radius: 0 8px 8px 8px;
    padding: 6px;
    column-count: 2;
}

.exist {
    color:rgb(235, 245, 105);
}

div.tab div {
    margin: 0px;
    padding: 0 0 0 8px;
}

.tab {
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
    column-width: 100px;
}


