

body {
    font-family: 'メイリオ', 'Helvetica', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
    background-color: #f0f8ff;
}

#outer {
    margin-left: 20px;
    margin: 0px auto 0px auto;
    width: 80%;
    font-size: 14px;
    line-height: 120%;
    text-align: left;
    color: white;
}

#header {
    text-align: left;
    height: 80px;
}

/* ▼(B)タブ部分 */
.tabs {
    display: block;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    /* 角を丸くする */
    background-color: midnightblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

/* ▼(C)タブ中身のボックス */
div.tab {
    overflow: auto;
    clear: none;
    color: white;
    font-size: 14px;
    background-color: midnightblue;
    border-radius: 0 8px 8px 8px;
    padding: 6px;
}

div.tab div {
    margin: 0px;
    padding: 0 0 0 8px;
}

.tab {
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
    column-width: 100px;
}
