.wordbox {
    overflow: hidden;
    position: absolute;
    top: 30%;
    height: auto;
    width: 300px;
    display: none;
    border:2px solid #2e0e72;
    z-index:1000;
    resize:both;
    border-radius: 10px;
    }
    .wb-header {
    border: 1px solid #aaa;
    background:#2e0e72;
    color: #222222;
    font-weight: bold;
    overflow: hidden;
    padding:5px;
    cursor:move;
    }
    .wb-title {
    float: left;
    cursor:move;
    }
    .ta {
    width:100%;
    padding: .5rem;
    font-size: 1.8rem;
    }
    .save-close {
    float: right;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    margin-right: 5px;
    }
    .save-close:hover{
        background-color: white;
    }
    .sbutton {
    float: left;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    margin-left: 3px;;
    }
    .sbutton:hover{
        background-color:white ;
    }
    .wb-content {
    position: relative;
    border: 0;
    padding: .5rem;
    font-size: 1.8rem;
    background: #fff;
    overflow: auto;
    width: auto;
    height: 100%;
    outline:none;
    }
