.wordbox {
    overflow: hidden;
    position: absolute;
    top: 30%;
    height: auto;
    width: 300px;
    display: none;
    border:2px solid #2e0e72;
    z-index:90;
    resize:both;
    border-radius: 10px;
    }
    .wb-header {
    border: 1px solid #aaa;
    background:#2e0e72;
    color: #222222;
    font-weight: bold;
    overflow: hidden;
    padding:5px;
    cursor:move;
    }
    .wb-title {
    float: left;
    cursor:move;
    }
    .ta {
    width:100%;
    padding: .5rem;
    font-size: 1.8rem;
    }
    .save-close {
    float: right;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    margin-right: 5px;
    }
    .save-close:hover{
        background-color: white;
    }
    .sbutton {
    float: left;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    margin-left: 3px;;
    }
    .sbutton:hover{
        background-color:white ;
    }
    .wb-content {
    position: relative;
    border: 0;
    padding: .5rem;
    font-size: 1.8rem;
    background: #fff;
    overflow: auto;
    width: auto;
    height: 100%;
    outline:none;
    background-color: white;
    }


    /* #htmltable{
        background-color: white;
    } */
    table , td, th {
        border: 1px solid #595959;
        border-collapse: collapse;
        margin:auto;
    }
    table {
        margin: 10px;
        background-color: #2e0e72;
    }

    td, th {
        font-family:  'メイリオ', 'Meiryo',  'ＭＳ Ｐゴシック' , sans-serif; 
        /* padding: 2px 6px; */
        padding: 0.2rem;
        width: 80px;
        height: 20px;
        font-size: 1.8rem;
    }
    th {
        background: #add8e6;
    }
    tr:nth-child(even) td {
        background: #fbf8f0;
    }
    tr:nth-child(odd) td {
        background: #fefcf9;
    }      
    
